ul {
    margin-left: -20px;
}

.chicken {
    float: left;
}

P {
    margin-left: 10px;
    margin-right: 1048px;
}

s {
    color: lightblue;
}

dd {
    color: white
}

dd {
    color: white
}

dt {
    color: grey
}

#crumb {
    top: 1800;
}
