body {
    margin: 0;
    padding: 10px;
}


ul {
    /*margin-left: -20px;*/
}

img {
    margin-left: 10px;
}

H1 {
    text-align: left;
    margin-left: 10px;
    padding: .5%;
}

P {
  /*margin-left: 10px;
    margin-right: 1048px; */
   /* padding: .1%;*/
}

s {
    color: lightblue;
}

dd {
    color: white
}

h2 {

    /*width: 300px;
    height: 30px;*/
    /*margin-left: 10px;
    margin-right: 10px;*/

}

.this:hover {
    color: orange;
    filter: saturate(5);
}

.that:hover {
    color: orange;
    filter: saturate(2);
}

.aside {
    color: black;
    margin: 2%;
}
