body {
    background-color: lightblue;
    font-family: serif;
    color: grey;
    position: relative;
    margin: 0;
}

H1 {
    color: grey;
    text-align: left;
    margin-left: 10px;

    background-color: lavender
}

h2 {
    color: grey;
    background-color: lavender;
}

li {
    color: grey;
    font-family: san-serif;
}

#crumb {
    color: purple
}

P {
    color: grey;
    font-family: san-serif;

}

.wrap{
  padding: 10px;
}
.Heading {
  padding: .2%;
  margin: .8%;
  width: 97%
}
.content{
    padding: .2%;
    margin: 2%;
    width: 70%;
}
